name: Provision Azure Resource Group

on:
  workflow_dispatch:
    inputs:
      location:
        description: "Azure region for the resource group"
        default: "eastus"
        required: true

     
jobs: 
  provision:
    permissions:
      id-token: write # Require write permission to Fetch an OIDC token.

    runs-on: ubuntu-latest
    steps:
      - name: Azure CLI Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Create resource group
        uses: azure/cli@v2
        with:
          azcliversion: latest
          inlineScript: |
            az group create \
              --name rg-cotex-test1 \
              --location ${{ inputs.location }}
